.bg-header {
  background-image: linear-gradient(#4e73df, #244cbf);
}

.excel{
  border: 1px solid #13bb6d;
  color: white;
  background-color: #13bb6d;
}

.excel:hover{
  color: #13bb6d;
  background-color: white;
}

.show-hide{
  border: 1px solid #a50455;
  background-color: #a50455;
  color: white;
}

.show-hide:hover{
  background-color: white;
  color: #a50455;
}

.search{
  border: 1px solid #eeee;
}