/* unvisited link */
a:link {
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(66, 66, 245)blue;
}

/* mouse over link */
a:hover {
  color: green;
}

/* selected link */
a:active {
  color: rgb(66, 66, 245);
}

.card{
  border-right: solid 8px #4e73df;
  border-left: solid 8px #4e73df;
}

.card:hover{
  border-right: solid 8px green;
  border-left: solid 8px green;
  transition-duration: 1s;

}

h5 {
  font-family:Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #858796;
  font-weight: bold;
}